{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профіль</title>
    <link rel="stylesheet" href="{% static 'css/account.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>

<div class="main-container">
    <div class="navigation-card">
        <a href="{% url 'tests:test_list' %}" class="tab"><i class="fas fa-clipboard-list"></i></a>
        <a href="{% url 'accounts:account_reset_data' %}" class="tab"><i class="fas fa-cog"></i></a>
        <a href="{% url 'accounts:test_results' %}" class="tab"><i class="fas fa-check"></i></a>
        <a href="{% url 'accounts:logout' %}" class="tab"><i class="fas fa-sign-out-alt"></i></a>
    </div>

    <div class="card">
      <div class="profile-pic">
        {% if request.user.profile_photo %}
            <img src="{{ request.user.profile_photo.url }}" alt="Фото профілю">
        {% endif %}
      </div>
      <div class="bottom">
        <div class="content">
            <p>Ваші дані</p>
          <span class="name">Ім'я: {{ request.user.first_name }}</span>
          <span class="name">Прізвище: {{ request.user.last_name }}</span>
            <span class="name">По батькові: {{ request.user.patronymic }}</span>
            <span class="name">Гендер: {{ request.user.gender }}</span>
            <span class="name">Вік: {{ age }}</span>
            <span class="name">Номер телефону: {{ request.user.phone_number }}</span>
            <span class="name">Країна: {{ request.user.country }}</span>

        </div>
        <div class="bottom-bottom">
          <div class="social-links-container">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
        </div>
      </div>
    </div>

</div>
<div class="map" id="map" style="height: 200px; width: 300px;"></div>

<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBU-S0MWvTzlRHZe0kRVgb-Uhcefq7NX34&callback=initMap"></script>
<script>
function initMap() {
    var officeLocation = {lat: 50.293639, lng: 31.461806};
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 15,
        center: officeLocation
    });
    var marker = new google.maps.Marker({
        position: officeLocation,
        map: map,
        title: 'MindLab'
    });
}
</script>
</body>
</html>