<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Профіль</title>
</head>
<body>
    <p>Ім'я: {{ request.user.first_name }}</p>
    <p>Прізвище: {{ request.user.last_name }}</p>
    {% if request.user.profile_photo %}
        <img src="{{ request.user.profile_photo.url }}" alt="Фото профілю">
    {% endif %}
    <nav>
        <ul>
            <li><a href="{% url 'accounts:account_reset_data' %}">Налаштування</a></li>
            <li><a href="{% url 'tests:test_list' %}">Переглянути всі тести</a></li>
            <li><a href="{% url 'accounts:test_results' %}">Пройдені тести</a></li>
            <li><a href="{% url 'accounts:logout' %}">Вийти</a></li>
        </ul>
    </nav>
</body>
</html>
