{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Зміна паролю</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap" rel="stylesheet">
     <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body class="body_login">

{% block content %}
<div class="div1111">
<h2 class="h222">Інструкції відправлені</h2>
<p class="p222">Перевірте вашу електронну пошту для подальших інструкцій щодо скидання вашого паролю.</p>
</div>
{% endblock %}
</body>
</html>