<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>Реєстрація/Вхід</title>
    <link rel="stylesheet" href="../../../../static/css/style.css" />
</head>

<body class="body_login">
<div class="container_verification">
    <img class="logo_log" src="../../../../static/img/logo.png" alt="Фонова картинка" />
    <form>
        <div id="wrapper">
            <label class="label_verification">Заповніть дані</label>
            <!-- Місце для полів -->
        </div>
        <button id="submitBtn" type="button">Зареєструватися</button>
    </form>
</div>

<script>
    document.getElementById("submitBtn").addEventListener("click", function() {
        window.location.href = "account.html";
    });
</script>
</body>
</html>
