@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");

html, body {
  height: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  background-color: #F3F4F6;
  color: #333;
  font-family: 'Inter', sans-serif;
}

.navigation-card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: rgb(255, 255, 255);
  padding: 10px 15px;
  border-radius: 25px;
  position: fixed;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

.content-container {
  display: flex;
  justify-content: center;
  padding-top: 200px;
  padding-bottom: 50px;
  width: 100%;
}

.main-container {
     border-radius: 50px;
 background: #e0e0e0;
 box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
  width: 90%;
  max-width: 960px;
  text-align: center;
     overflow: auto;
}
.main-container1 {
     border-radius: 50px;
 background: #e0e0e0;
 box-shadow: 20px 20px 60px #bebebe,
               -20px -20px 60px #ffffff;
  width: 90%;
  max-width: 960px;
  text-align: center;
}
h1, p {
  text-align: center;
  margin: 10px 0;
}

li {
    display: block;
    margin-bottom: 10px;
    padding: 10px;
}

.h1 {
 align-items: center;
 appearance: none;
 background-color: #FCFCFD;
 border-radius: 20px;
 border-width: 0;
 box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
 box-sizing: border-box;
 color: #36395A;
 cursor: pointer;
 display: inline-flex;
 font-family: "JetBrains Mono", monospace;
 height: 48px;
 justify-content: center;
 line-height: 1;
 list-style: none;
 overflow: hidden;
 padding-left: 16px;
 padding-right: 16px;
 position: relative;
 text-align: left;
 text-decoration: none;
 transition: box-shadow .15s,transform .15s;
 user-select: none;
 -webkit-user-select: none;
 touch-action: manipulation;
 white-space: nowrap;
 will-change: box-shadow,transform;
 font-size: 18px;

}

.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-color: rgb(252, 252, 252);
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  color: black;
  font-size: 24px;
}

.tab:hover {
  background-color: rgb(201, 196, 196);
}
.tests_ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.tests_li {
     display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 20px); /* Ширина для двох елементів в рядку */
    padding: 10px;
    margin: 10px; /* Відступ між блоками */
    box-sizing: border-box;

}
.h1 {
    width: 90%;
}
.toggle-button {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    width: 100%;
    height: 60px;
    cursor: pointer;
}

.side-panel {
    position: fixed;
    left: 0;
    top: 0;
    width: 60px;
    height: 100vh;
    background-color: #f0f0f0;
    box-shadow: 4px 0 5px -2px rgba(0,0,0,0.2);
    z-index: 2000;
    transition: width 0.5s;
    display: flex;
    flex-direction: column;
}

.fas.fa-bars {
    margin-top: 20px;
    margin-left: 20px;
}

.side-panel.expanded {
    width: 200px;
}

.side-panel h2, .side-panel ul, .side-panel h3 {
    display: none;
}

.side-panel.expanded h2, .side-panel.expanded ul, .side-panel.expanded h3 {
    display: block;
}
.h2 {
    align-items: center;
    appearance: none;
    background-color: #FCFCFD;
    border-radius: 20px;
    border-width: 0;
    box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px, rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
    box-sizing: border-box;
    color: #36395A;
    cursor: pointer;
    display: flex;
    font-family: "JetBrains Mono", monospace;
    height: 60px;
    justify-content: center;
    line-height: 1;
    list-style: none;
    overflow: hidden;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    text-align: left;
    text-decoration: none;
    transition: box-shadow .15s, transform .15s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: normal;
    will-change: box-shadow, transform;
    font-size: 14px;
    margin-left: -38px;
}
.side-panel h3 {
    margin-left: 12px;
}
.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  overflow: hidden;
  background-color: rgb(252, 252, 252);
  border-radius: 50%;
  cursor: pointer;
  text-decoration: none;
  transition: all 0.3s;
  color: black;
  font-size: 24px;
}

.tab:hover {
  background-color: rgb(201, 196, 196);
}
.test_link {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: #69697a;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    margin: 10px;
}

.test_name, .test_description {
    margin: 5px 0;
}

.test_description {
    .test_description {
    color: #ccc;
    font-size: smaller;
    overflow-wrap: break-word; /* Автоматично переносить слова на новий рядок */
    word-wrap: break-word; /* Застаріла альтернатива overflow-wrap */
}
}

