{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Список тестів</title>
    <link rel="stylesheet" href="{% static 'css/test.css' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<div class="navigation-card">
    <a href="{% url 'accounts:account' %}" class="tab"><i class="fas fa-home"></i></a>
    <a href="{% url 'accounts:account_reset_data' %}" class="tab"><i class="fas fa-cog"></i></a>
    <a href="{% url 'accounts:test_results' %}" class="tab"><i class="fas fa-check"></i></a>
    <a href="{% url 'accounts:logout' %}" class="tab"><i class="fas fa-sign-out-alt"></i></a>

</div>
<div class="side-panel">
    <i class="fas fa-bars toggle-button fa-lg"></i>
    <h3>Оберіть тип тесту</h3>
<ul>
    <li><a href="?type=a" class="h2">Тести на тип особистості</a></li>
    <li><a href="?type=b" class="h2">Тести на тип привязуваності</a></li>
    <li><a href="?type=c" class="h2">Тести на профорієнтацію</a></li>
    <li><a href="?type=d" class="h2">Тести на стрес та тривожність</a></li>
    <li><a href="?type=e" class="h2">Тести на емоційний розум</a></li>
    <li><a href="?type=f" class="h2">Тести на когнітивні вміння</a></li>
</ul>

</div>
<div class="content-container">
    <div class="main-container">
        <h1>Вітаємо!</h1>
        <p>Тут ви знайдете різноманітні тести, які допоможуть вам краще зрозуміти ваші емоційні стани, особистісні характеристики та інші психологічні аспекти.</p>
        <ul class="tests_ul">
            {% for test in tests %}
    <li class="tests_li">
        <a class="test_link" href="{% url 'tests:test_detail' test.id %}">
            <div class="test_name h1">{{ test.name }}</div>
            <div class="test_description h1">{{ test.description }}</div>
        </a>
    </li>
{% endfor %}
        </ul>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const toggleButton = document.querySelector('.toggle-button');
        const sidePanel = document.querySelector('.side-panel');

        toggleButton.addEventListener('click', function() {
            sidePanel.classList.toggle('expanded'); // Перемикає клас 'expanded'
        });
    });
</script>
</body>
</html>
